extends ../../../layout

block content
    .row
        .col-md-2
        .col-12.col-md-9
            h6.mb-0.text-uppercase Hasta Ekle
            hr
            .card
                .card-body
                    .row.mb-2
                        .col-12.col-md-4.mb-2.mb-md-0
                            label(for="adsoyad")
                                | Hasta Adı
                                span(title="Zorunlu").text-danger *
                            input#adsoyad(type="text" name="adsoyad" placeholder="Hasta adı soyadı giriniz").form-control
                        .col-12.col-md-4
                            label(for="islem")
                                | İşlem Seçiniz
                                span(title="Zorunlu").text-danger *
                            select#islem(name="islem").form-control
                                option(selected disabled) İşlem Seçiniz 
                                each islem in islemler
                                    option(value=islem._id data-ucret=islem.ucret) #{islem.ad}

                        .col-6.col-md-2
                            label(for="ucret")
                                | Ücret
                                span(title="Zorunlu").text-danger *
                            input#ucret(type="number" name="ucret" placeholder="0").form-control
                        .col-6.col-md-2
                            label(for="odenen")
                                | Ödenen Miktar
                                span(title="Zorunlu").text-danger *
                            input#odenen(type="number" name="odenen" placeholder="0").form-control
                    .row.mb-2
                        .col-12
                            label(for="aciklama")
                                | İşleme Dair Not
                                span(title="Zorunlu").text-danger *
                            textarea#aciklama(name="aciklama").form-control
                    .row.mb-2
                        .col-12.col-md-3.mb-2.mb-md-0
                            label(for="doktor")
                                | Doktor Seçiniz
                                span(title="Zorunlu").text-danger *
                            select#doktor(name="doktor").form-control
                                each doktor in doktorlar
                                    option(value=doktor._id) #{doktor.name}
                        .col-12.col-md-3.mb-2.mb-md-0
                            label(for="randevuTarih")
                                | Randevu Saati
                                span(title="Zorunlu").text-danger *
                            input#randevuTarih(type="datetime-local" name="randevuTarih").form-control
                        .col-12.col-md-3.mb-2.mb-md-0
                            label(for="telno")
                                | Telefon Numarası
                                span(title="Zorunlu").text-danger *
                            input#telno(type="tel" name="telno" placeholder="05xxxxxxxxx" maxlength="11").form-control
                        .col-12.col-md-3
                            label(for="tcno")
                                | T.C. Kimlik Numarası
                                span(title="Zorunlu").text-danger *
                            input#tcno(type="text" name="tcno" placeholder="T.C. Kimlik Numarası" maxlength="11").form-control
                    .row.mt-4
                        .col-md-9
                        .col-12.col-md-3
                            button(type="submit").btn.btn-sm.btn-outline-primary.col-12
                                i.bx.bx-user-plus
                                | Hastayı Kaydet

block jscode
    script.
        $(document).ready(function () {
            $('#islem').on('change', function () {
                var ucret = $(this).find(':selected').data('ucret');
                $('#ucret').val(ucret);
            });

            const nowUtc = new Date();
            const turkeyTimezoneOffset = 3 * 60 * 60 * 1000;
            const nowTurkey = new Date(nowUtc.getTime() + turkeyTimezoneOffset);
            function formatLocalTime(date) {
                const year = date.getUTCFullYear();
                const month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
                const day = date.getUTCDate().toString().padStart(2, '0');
                const hours = date.getUTCHours().toString().padStart(2, '0');
                const minutes = date.getUTCMinutes().toString().padStart(2, '0');

                return `${year}-${month}-${day}T${hours}:${minutes}`;
            }
            $('#randevuTarih').val(formatLocalTime(nowTurkey));
        });