extends ../../../layout


block content
    .row
        .col-12.col-md-10.d-flex.mx-auto
            .card.radius-10.w-100
                .card-header
                    .d-flex.align-items-center
                        div
                            h6.mb-0 Hastalar
                        .ms-auto
                            a.btn.btn-sm.btn-outline-primary(href="/Admin/Hastalar/Ekle")
                                i.bx.bx-plus-circle.font-22
                                | Hasta Ekle

                .card-body
                    .table-responsive
                        table.table.align-middle.mb-0.table-striped.table-bordered.dataTable.nowrap-disabled#hastalar
                            thead.table-light
                                tr.text-center
                                    th #
                                    th Doktor Adı
                                    th Hasta Adı
                                    th Tanı
                                    th Tanı Açıklaması
                                    th Randevu Tarihi
                                    th Telefon 
                                    th T.C.
                                    th Kalan Borç
                                    th İşlemler
                            tbody
                                - function randomIntFromInterval(min, max) {
                                -   return Math.floor(Math.random() * (max - min + 1) + min);
                                - }

                                - const maskPhoneNumber = (phoneNumber) => {
                                -    const cleaned = ('' + phoneNumber).replace(/\D/g, '');
                                -    if (cleaned.length < 10 || cleaned.length > 11) {
                                -        return 'Geçersiz telefon numarası formatı.';
                                -    }
                                -    const finalNumber = cleaned.length === 11 ? cleaned.substring(1) : cleaned;
                                -    const areaCode = finalNumber.substring(0, 3);
                                -    const firstPart = finalNumber.substring(3, 6);
                                -    const secondPart = finalNumber.substring(6, 8);
                                -    const thirdPart = finalNumber.substring(8, 10);
                                -    return `0${areaCode} ${firstPart} ${secondPart} ${thirdPart}`;
                                - };

                                - const generateRandomDate = () => {
                                -    const startDate = new Date('2023-01-01');
                                -    const endDate = new Date('2025-12-31');
                                -    const startTimestamp = startDate.getTime();
                                -    const endTimestamp = endDate.getTime();
                                -    const diffTimestamp = endTimestamp - startTimestamp;
                                -    const randomTimestamp = startTimestamp + Math.floor(Math.random() * diffTimestamp);
                                -    const randomDate = new Date(randomTimestamp);
                                -    const day = String(randomDate.getDate()).padStart(2, '0');
                                -    const month = String(randomDate.getMonth() + 1).padStart(2, '0'); // Ay 0'dan başladığı için +1 ekliyoruz
                                -    const year = randomDate.getFullYear();
                                -    return `${day}.${month}.${year}`;
                                - };
                                - for(var i=0; i<150; i++) {
                                -   console.log(i);
                                    tr
                                        th= (i+1)
                                        th Onur YOLBAŞ
                                        td Faik TURHAN
                                        td Kanal Tedavi
                                        td(style="width: 200px;") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        td= generateRandomDate()
                                        td
                                            a(href="tel:#{maskPhoneNumber(randomIntFromInterval(5000000000, 5999999999))}") #{maskPhoneNumber(randomIntFromInterval(5000000000, 5999999999))}
                                        td= randomIntFromInterval(10000000000, 99999999999)
                                        if(i%2 == 0)
                                            td.bg-success.text-white.text-center Ödendi
                                        else
                                            td.bg-danger.text-white.text-center #{randomIntFromInterval(1000, 20000)} ₺
                                        td
                                            button.btn.btn-outline-primary.px-5.radius-30.btn-sm.m-1
                                                i.bx.bx-edit
                                            button.btn.btn-outline-danger.px-5.radius-30.btn-sm.m-1
                                                i.bx.bx-trash

                                - }

block csscode
    link(href="/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet")
    style.
        #hastalar td {
            white-space: normal;
            word-wrap: break-word;
        }

block jscode
    script(src="/assets/plugins/datatable/js/jquery.dataTables.min.js") 
    script(src="/assets/plugins/datatable/js/dataTables.bootstrap5.min.js")
    script.
        $(document).ready(function (){
            $('#hastalar').DataTable( {
                lengthChange: false,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/2.3.2/i18n/tr.json",
                },
                "columnDefs": [
                    {
                        "targets": 4,
                        "render": function ( data, type, row ) {
                            var fullText = data;
                            if (type === 'display' && fullText.length > 100) {
                                return '<span title="' + fullText + '">' + fullText.substr( 0, 100 ) + '…</span>';
                            }
                            return fullText;
                        }
                    }
                ]
            });
        })